#page-home{
    height:100vh;
    background: url('../icones/home-background.svg') no-repeat;
    background-position: 40vw 20vh;
    padding: 30px;
}
#page-home .content{
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#page-home header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page-home header a{
    display: flex;
    font-weight: 700;
    color: var(--title-color);
}
#page-home header a span{
    margin-right: 16px;
    display: flex;
    background-image: url('../icones/log-in.svg');
    width: 20px;
    height: 20px;
}
#page-home main{
    max-width: 560px;
    flex:1;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#page-home main h1{
    margin-top: 0;
    font-size: 54px;
}

#page-home main p{
    margin-top: 24px;
    font-size: 24px;
    line-height: 38px;
}
#page-home main a{
    width: 100%;
    max-width: 360px;
    height: 72px;
    background-color: var(--primary-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #fff;
}
#page-home main a:hover{
    background-color: #2fb86e;
    transition: 400ms;
}
#page-home main a span{
    width: 72px;
    height: 72px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page-home main a span:after{
    content: "";
    background-image: url('../icones/search.svg');
    width: 20px;
    height: 20px;

}
#page-home main a strong{
    flex:1;
    text-align: center;
}
